.side{
    display: flex;
    justify-content:space-between;
}

.icons li{
    display:inline-block;
    text-align:right;
}
.user-img{
    border-radius:50%;
    margin-right:10px;
    margin-bottom:10px;
}
.edit li{
    display:inline-block;
}

.card-footer{
    position: relative;
}
.icons{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right:8px;
}
.user_name{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title{
    font-size:18px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.city_name{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 575px) {
    .alert_card{
       max-width:300px;
       text-align:center;
       margin:0 auto;
    }
}