#message{
    word-wrap:break-word;
}

@media screen and (max-width: 320px){
    #message{
       width:250px;
    }
    .commentuser_name{
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display:inline-block;
    }
    .img img{
        height:218px;
    }
}

@media screen and (min-width: 321px) and (max-width: 559px) {
    #message{
       width:345px;
    }
    .img img{
        height:355px;
    }
}

@media screen and (min-width: 560px) and (max-width: 775px) {
    #message{
       width:398.33px;
    }
    .map{
        margin-top:40px;
    }
    .commentuser_name{
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display:inline-block;
    }
    .img img{
        height:380px;
    }
}

@media screen and (min-width: 776px) and (max-width: 991px) {
    #message{
       width:398.33px;
    }
    .map{
        margin-top:40px;
    }
    .img img{
        height:272px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    #message{
       width:535px;
    }
    .map{
        margin-top:90px;
    }
    .img img{
        height:350px;
    }
}

@media screen and (min-width:1280px) {
    #message{
       width:642px;
    }
    .map{
        margin-top:120px;
    }
    .img img{
        height:380px;
    }
}
.side{
    display: flex;
    justify-content:space-between;
}

.name li{
    display:inline-block;
}

.inline-block{
    display: inline-block;
   
}

.icons li{
    display: inline-block;
}
.fav-btn span{
    display: inline-block;
}

.icon{
    font-size:1.5em;
}
.alert-comment{
    position: relative;
}
.icons{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right:8px;
}

.fa-comment:hover {
    border-bottom-color: transparent;
    transform: translateY(0.1875em);
}
.fa-trash:hover {
    border-bottom-color: transparent;
    transform: translateY(0.1875em);
}
#map {
    margin: auto;
}
.map {
    display: flex;
}
.message_parent{
    display:flex;
}
.user_name{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vertical_line{
    margin       : auto;
    width        : 3px;
    height       : 20px;
    background   : black;
}
.blank{
    margin-bottom:10px;
}