.follow_button{
    width:185px;
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .name{
        margin-left:50px;
        margin-top:15px;
    }
}
@media screen and (min-width: 992px){
    .name{
        margin-top:15px;
    }
}