.fa-file-image{
       font-size:70px;
}
#error{
    color:red;
}
.side{
  display: flex;
  justify-content:space-between;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.file_image{
    width:95px;
    height:95px;
}